<h1>Sapa aku node js</h1>
<form action="/sapa" method="post">
    <input type="text" name="sapaan" class="form-control mb-3" placeholder="Mari kita berteman :)" aria-label="Username" aria-describedby="basic-addon1">
    <button type="submit" class="btn btn-dark">Submit</button>
</form>